.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

input {
    width: 600px;
  }
  
  textarea {
    height: 10em;
    width: 600px;
  }